body {
    background-color: white;
    color: black;
    /* background: rgb(42,174,0);
    background: linear-gradient(90deg, rgba(42,174,0,1) 0%, rgba(0,224,34,1) 38%, rgba(17,255,0,1) 100%); */
}

.spotify-logo {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 300px;
}

.flash {
    margin-top: 15px;
}

#mood {
  margin-top: 20px;
  margin-left:20px;
}

#top-panel {
  background-color: #FFFFFF;
}

#input {
    margin-top: 20px;
    margin-bottom: 100px;
}

#spotify-player {
    text-align: center;
}

#playlist-text {
    font-size: 2em;
}

.checkboxcontainer {
    width: 10%;
    float: left;
    display: inline-block;
}

.checkboxcontainer {
  width: 10%;
  float: left;
  display: inline-block;
}

.slidecontainer {
    width: 70%; /* Width of the outside container */
    display: inline-block;
}

.sentiment {
    text-align: center;
    width: 15%;
    float: right;
    display: inline-block;
    margin-left: 5px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
