{% extends 'base.html' %}

{% block title %}AutoDJ{% endblock %}

{% block content %}
<div class="row">
    <div id="input" class="col-sm-4">
        <h4>Type in a Topic:</h4>
        <input class="form-control" type="text" name="Topic" id="topicName" maxlength="56"><br>
        <button class="btn" type="button" id="setTopicButton">Set Topic</button>
        <br>
        <h4>Mood of songs:</h4>
        <div class="checkboxcontainer">
			<input type="checkbox" name="sliderActivate" value="1" id="sliderBox">
		</div>
		<div class="slidecontainer">
  			<input type="range" min="0" max="2" value="1" class="slider" id="myRange">
		</div>
		<div class="sentiment" id="sentiment">Neutral</div>
    </div>

    <div class="col-sm-8" id="spotify-player">
		<div id='playlist-text'></div>
		<iframe id="player-frame" src="" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div>
</div>
{% endblock %}