<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav class="navbar navbar-dark bg-dark">
    <h1 class="navbar-brand">AutoDJ</h1>
    <ul class="navbar-nav navbar-right">
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
        <li><span><a href="{{ url_for('auth.login') }}">Log In</a></span></li>
        {% endif %}
    </ul>
</nav>
<section class="container">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash alert alert-danger"><strong>{{ message }}</strong></div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>